/*******THUMB*********/
.thumb{
   
    width:300px;
    height:300px;
    position:relative;
    float:right;
	margin-right:80px;
    text-align:center;
}
.pic_thumb{
    padding:10px;
}
.pic_thumb img{
    width:95px;
}
.thumb .status{
    background-image:url("../images/status_bg.png");
    background-repeat:no-repeat;
    background-position: top left;
    z-index:5;
    position:absolute;
    width:310px;
    height:210px;
    margin:85px 0 0 60px;
    padding-top:80px;
    font-size: medium;
}
.thumb input{
    margin-left:auto;
    margin-right:auto;
}
/*******end thumb*****/

/*******start status****/
.thumb_with_status{
    height:300px;
}
/*******end status*****/


/******start upload profilepic*****/
.change_button{
    width:83%;
    z-index:50;
    text-align:center;
    position: absolute;
	margin-right:5px;
}

.btn_loading{
    width:83%;
    z-index:50;
    text-align:center;
    position: absolute;
	margin-right:5px;
}

.form_profile_pic{
    z-index:10;
    position: absolute;
    margin-left:95px;
    padding:0px;
}
/******end upload profilepic*****/

/****start cropping*****/

.box_shadowed{
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 3px 3px 15px #BBBBBB;
    color: #444444;
    font-weight: bold;
    padding: 5px 5px;
    position:absolute;
    z-index:15;
    margin-top:20px;
    display:none;
}

.box_shadowed_close{
    float:right;
    position: relative;
    margin-right:0;
    margin-bottom:0;
}
/****end cropping****/